.btn-color {
  background-color: #0e1c36;
  color: #fff;

}

.profile-image-pic {
  height: 150px;
  width: 150px;

}



.cardbody-color {
  background-color: #ebf2fa;
}

a {
  text-decoration: none;
}

.alert {
  display: none;
}